In [2]:
import pandas as pd


data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

print("DataFrame:")
print(df)

DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [4]:

print("\nFirst 2 rows of the DataFrame:")
print(df.head(2))

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

In [6]:

df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus column added:")
print(df)

DataFrame with Bonus column added:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

In [8]:


older_than_25 = df[df['Age'] > 25]
print("\nEmployees who are older than 25:")
print(older_than_25)

Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0

In [10]:
import pandas as pd

data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)


print("DataFrame:")
print(df)


print("\nFirst 2 rows of the DataFrame:")
print(df.head(2))


df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus column added:")
print(df)


average_salary = df['Salary'].mean()
print(f"\nAverage Salary of employees: {average_salary}")

older_than_25 = df[df['Age'] > 25]
print("\nEmployees who are older than 25:")
print(older_than_25)

DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with Bonus column added:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

Average Salary of employees: 47500.0

Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0